$bg-color: rgb(33, 33, 32);
$font-color: rgb(221, 221, 221);

.form_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .input_wrapper, .btn_wrapper {
    margin: 12px;
    display: block;
    width: 100%;
    background: $bg-color;
  }

  .btn_wrapper .btn {
    cursor: pointer;
    display: block;
    outline: none;
    border: 2px solid $bg-color;
    border-radius: 10px;
    background: $font-color;
    color: $bg-color;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .input_wrapper input, .btn_wrapper input {
    display: block;
    width: 100%;
    margin: 0;
    outline: 0;
    font-size: 14px;
    font-weight: 700;
    background: $font-color;
    color: $bg-color;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 transparent;
    height: 30px;

    & {
      color: $bg-color;
      border: 3px solid $bg-color;
    }

    &:focus {
      background: none;
      border: 1px solid $font-color;
      color: $font-color;
    }

    &:active {
      background: #fff;
      border: 1px solid $font-color;
      color: $font-color;
    }
  }

  .input_wrapper label, .btn_wrapper label {
    display: block;
    width: 100%;
    color: $font-color;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }
}
